#Filetypes
*.csproj
*.dll
*.dwlt
*.log
*.mdb
*.dll.mdb
*.meta
*.sln
*.stamp
*.suo
*.userprefs
Library/assetDatabase*


#Folders
Builds/*
obj/*
ProjectSettings/*
Temp/*
RewiredBackup/*
Assets/Rewired/*
Library/ShaderCache/*
Library/metadata/*
